.content {
    display: flex;
    width: 100%;
    margin: 0px auto 24px auto;
    max-width: 1024px;
}

.details-content-left {
    font-size: 20px;
    width: 65%;
    padding: 20px 20px 20px 0px;
}

.details-content-right {
    width: 35%;
    background: #f7f7f7;
    padding: 20px;
}

.details-street {
    font-size: 22px;
}

.details-price {
    font-size: 20px;
}

.details-location {
    margin-bottom: 8px;
}

.details-remarks {
    font-size: 16px;
}

.details-contact {
    font-size: 19px;
    text-align: center;
}