/*.filter-bar {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    font-size: 14px;
}

.back-btn {
    cursor: pointer;
    padding-left: 0;
}

.back-btn span {
    margin-left: 8px;
}

.home-content-nav a {
    padding: 20px;
    cursor: pointer;
}*/