.listings-container {
    display: flex;
    height: calc(100vh - 74.75px);
    background: #f7f7f7;
    margin-top: -1rem;
}

.listings-area {
    overflow-y: scroll;
    width: 40vw;
}

.map-area {
    position: relative;
    width: 60vw;
    background: #9d9d9d;
}
