.loading {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.preloader {
    width: 5rem;
    height: 5rem;
    margin: 5rem;
    border-radius: 50%;
    border: 0.3rem solid #000000;
    transform: translate(50%);
    animation: 1s ripple ease-out infinite;
}

@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}