.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.logo {
    display: flex;
    font-size: 30px;
}

.logo a {
    margin-right: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    width: 400px;
}

.search-container svg {
    font-size: 16px;
    margin: 10px 7px;
}

.search-bar {
    font-family: inherit;
    margin-left: 7px;
    height: 100%;
    width: 100%;
    border: none;
}

.search-bar:focus {
    outline: none;
}

.main-nav li {
    display: inline;
    padding: 0 20px;
}

.navbar-link {
    font-size: 14px;
}

.navbar-link--active {
    color: red;
}

.navbar-btn {
    background: rgba(179,221,242,.5);
    padding: 10px 20px;
    border-radius: 6px;
}

.navbar-btn:hover {
    background: rgb(179,221,242);
}

button {
    background: none;
    border: none;
    font-family: inherit;
    padding: 20px;
}