@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');  /* Header Font - Karla */
@import url("https://use.typekit.net/zuw4qgd.css");  /* Body Font - Liberation Sans */

body {
    font-family: 'liberation-sans', sans-serif;
    font-size: 16px;
    color: #333333;
    text-rendering: optimizeLegibility;
}

h1, h2 {
    font-family: 'Karla', sans-serif;
}