.house-card-item {
    background: #ffffff;
    width: calc(50% - 16px);
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(237, 238, 239);
    border-radius: 6px;
    margin: 0 16px 16px 0;
}

.house-image {
    display: flex;
    justify-content: center;
    height: 180px;
}

.house-image img {
    object-fit: cover;
    max-width: 100%;
}

.listing-content {
    padding: 16px;
}

.address {
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.list-price {
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-top: auto;
}

.list-price span {
    margin-left: 8px;
}

.home-amenities {
    display: flex;
    margin-top: auto;
}

.home-amenities span {
    font-size: 14px;
    margin: 0 16px 0 8px;
}